@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main_header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main_header__list {
  display: flex;
  align-items: center;
}

.main_header__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
  margin-right: 30px;
  margin-left: 20px;
}

.main_header__btn:hover {
  color: #f53855;
  transition: 0.5s;
}

.hamburger {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.nav-end {
  align-items: center;
}

.main_header__btn2 {
  padding: 13px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
  border: 1px solid #f53855;
  border-radius: 50px;
}

#navbar-responsive {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #f53855;
  top: 0;
  left: -50%;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  height: 300px;
  transition: 1s;
}

#navbar-close {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 0;
  right: 0;
}

.main_header-res__link {
  font-weight: 700;
  font-size: 23px;
  line-height: 19px;
  color: #4f5665;
  margin-bottom: 20px;
}

.main_header-res__link:hover {
  color: white;
  transform: scale(1.2);
  transition: 0.5s;
}

.main_header__btn2:hover {
  background-color: #f53855;
  color: white;
  transition: 0.5s;
}

.nav__dark {
  background-color: transparent;
  width: 37px;
  height: 37px;
  border: none;
}

.main_header__item {
  margin-left: 39px;
}

.main_header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
}

.main_header__link:hover {
  color: #f53855;
  margin-top: 15px;
  transform: scale(1.2);
  transition: 0.5s;
}


/*about*/

#about {
  padding-bottom: 200px;
}

.about__container {
  display: flex;
  align-items: center;
}

.about__title {
  max-width: 555px;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
  margin-bottom: 62px;
}

.about__word {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
}

.about__text {
  max-width: 555px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 7px;
}

.about__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  padding: 17px 75px;
  color: #ffffff;
  background: #f53838;
  border-radius: 10px;
  box-shadow: #f53838 8px 8px 8px 1px;
}

.about__btn:hover {
  background-color: white;
  color: #f53838;
  transition: 0.5s;
  box-shadow: #000 1px 1px 1px 1px;
}

.about__content {
  padding-bottom: 50px;
  padding-top: 129px;
  margin-right: 40px;
}

.about__img-block {
  max-width: 611px;
  padding-top: 101px;
}

#about2 {
  padding-bottom: 100px;
}

.about2__container {
  max-width: 1110px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 22px 0px rgba(0, 0, 0, 0.75);
}

.about2__cont {
  display: flex;
  align-items: center;
}

.cont {
  margin-left: 36px;
}

.about2__subtitle {
  margin-bottom: 5px;
}

.about2__content {
  padding: 72px 91px;
  display: flex;
  align-items: center;
  gap: 243px;
}

.about2__img {
  width: 51px;
  height: 51px;
}


/*features*/

#features{
  padding-bottom: 131px;
}

.features__container {
  display: flex;
  align-items: center;
}

.features__img-block {
  max-width: 508px;
  margin-right: 69px;
  padding-left: 184px;
}

.features__content {
  padding-top: 150px;
}

.features__title {
  max-width: 427px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 20px;
}

.features__text {
  max-width: 427px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 20px;
}

.features__sentence {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.features__img {
  width: 21px;
  height: 21px;
}

.features__cont {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/*pricing*/

#pricing{
  background-color: #E5E5E5;;
}


.pricing__cont{
  text-align: center;
}


.pricing__title{
  font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}

.pricing__text{
  max-width: 555px;
  font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #4F5665;
    padding-bottom: 60px;
}

.pricing__item{
  max-width: 330px;
  height: 760px;
}

.pricing__img{
  max-width: 144px;
  margin-left: auto;
  margin-right: auto;
}

.pricing__imges{
  width: 21px;
  height: 21px;
}

.wrapper{
  margin-left: auto;
    margin-right: auto;
}

.pricing-text{
  font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    margin-left: 0;
    margin-top: 30px;
      margin-bottom: 30px;
}

.pricing__wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-left: 20px;
}

.pricing__sentence{
  font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    margin-left: 10px;
}

.pricing__sentence{
font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}